/*General*/

:root {
    --primary-color: #B47B48;
    --secondary-color: #C85312;
    --text-color: #FFFFFF;
    --secondary-text-color:#D9D9D9;
    --background-color: #202023;
}


body {
    color: var(--text-color);
    background-color: var(--background-color);
    font-style: normal;
    font-family: 'Inter'; 
    width: 1335px;
    margin: 0px;
}


section {
    margin: 0px;
}


a,
button,
li,
pre,
p,
ul,
ol {
    text-decoration: none;
    list-style: none;
    color: var(--text-color)
}

/*Header*/

header {
    background-image: url(./image/background/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1335px;
    height: 1025px;
}


nav {
    font-weight: 140;
    font-size: 24px;
    line-height: 29px;
    padding-top: 50px;
    padding-left: 85px;
}


nav ul {
    padding: 0px;
    margin: 0px;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    width: 558px;
}


.h1-cont {
    text-align: left;
    padding-left: 100px;
    width: 570px;
    height: 500px;
}


h1 {
    font-weight: 200;
    font-size: 70px;
    line-height: 85px;
    width: 600px;
}


text {
    font-weight: 300;
    font-size: 21px;
    line-height: 25px;
    width: 570px;
    height: 200px;
    margin: 11px;
}


.h1-button {
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    margin-top: 22px;
    padding: 0px;
    border-radius: 17px;
    width: 207px;
    height: 57px;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    border: none;
}


.sam-list {
    display: flex;
    justify-content: space-around; 
    margin-top: 140px;
}


.sam-item {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    width: 310px;
    height: 225px;
}


.sam-item:nth-child(n+3) {
    background:linear-gradient(81.4deg, #000000 -110.34%, rgba(0, 0, 0, 0) 80.32%) ,
    url(./image/head-section/head2.png);     
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: left;
    background-size: 235px 225px;
    background-color: #EBAD51;
}


#sam-cont1 {
    margin-top: 7px;
    margin-right: 5px;
}


#sam-cont3 {
    padding-left: 210px;
}


.price {
    font-family: Inter;
    font-size: 24px;
    font-weight: 200;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}


.name {font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}


.sam-button {
    background-color: var(--secondary-color);
    border: none;
    width: 79px;
    height: 34px;
    text-transform: uppercase;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 900;
    line-height: 19px; 
}


.sam-croissan {
    width: 225px;
    height: 213px;
}

/*Menu*/

.menu {
    width: 1335px;
    height: 775px;
    display: block;
    background-color: var(--background-color);
}


.m-title {
    margin: 0px;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    font-family: 'Inter';
    font-weight: 100;
}


.m-cont {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1010px;
}


.m-list { 
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


.m-item {
    border: 1px solid #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 75px;
    width: 328px;
}


.m-item:nth-child(odd) {
    margin-right: 198px;
}


.m-item:nth-child(-n+2) {
    margin-bottom: 64px;
}
    

.m-item:nth-child(-n+3) {
    height: 270px;
}


.m-item:nth-child(n+3) {
    height: 254px;
}


.m-text {
font-size: 26px;
font-weight: 800;
line-height: 31px;
margin: 0px;
}


.image1 {
    width: 95%;
    height: 80%;
}


.image2 {
    width: 110%;
    height: 82%;
    position: relative;
    bottom: 10px;
}


.image3 {
    width: 82%;
    height: 72%;
    position: relative;
    bottom: 3px;
}


.image4 {
    width: 70%;
    height: 80%;
}


.m-button2 {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 17px;
    width: 132px;
    height: 41px;
    font-size: 26px;
    font-weight: 800;
    line-height: 31px;
}


.m-button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 17px;
    width: 160px;
    height: 41px;
    font-size: 26px;
    font-weight: 800;
    line-height: 31px;
}

/*Quality*/

.quality {    width: 1335px;
    height: 850px;
    background-color: var(--background-color);
    background-image: url(./image/background/quality-bg/text.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    z-index: 6;
}


.quality h2 {
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    font-weight: 400;
    font-family: 'Italiana';
    padding-top: 70px;
    margin: 0px;
    position: relative;
    left: 115px;
    z-index: 7;
}


.middle {
    width: inherit;
    height: 700px;
    z-index: 6;
    position: absolute;
    left: 27px;
    background: url(./image/background/quality-bg/text1.png);
    background-repeat: no-repeat;
    background-position: bottom;
} 


.right {
    width: inherit;
    height: 700px;
    z-index: 6;
    position: absolute;
    left: 110px;
    background: url(./image/background/quality-bg/text2.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    color: #FFFFFF;
}


.q-list {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 700px;
    padding-left: 120px;
    margin: 0px;
}


.q-item {
    position: inherit;
    z-index: 7;
}


.q-item:nth-child(1) {
    position: relative;
    bottom: 58px;
}


.q-item:nth-child(2) {
    margin-left: 15px;
    position: relative;
    top: 25px;
}


.q-item:nth-child(3) {
    margin-left: 50px;
    position: relative;
    top: 75px;
}


.o-list {
    background: rgb(126, 121, 121);
    width: 292px;
    height: 198px;
    padding-left: 10px;
    padding-top: 25px;
    z-index: 7;
}


.o-text {
    margin: 0px;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: left;
}

/*Artisax*/

.artisax {
    width: 1335px;
    height: 580px;
    background-image: linear-gradient(89.59deg, #000000 8.49%, rgba(3, 3, 3, 0) 77.17%) ,
    url(./image/background/bg1.png);
}


.artisax > h2 {
    color: var(--secondary-text-color);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 100px; 
    display: inline-flex;
    text-align: left;
    font-size: 48px;
    font-family: 'Italiana';
    font-weight: 400;
    line-height: 57px;
}


.a-list {
    display: flex;
    flex-direction: row;
    margin-top: 156px;
}


.artisax > img {
    width: 218px;
    height: 183px;
}


.a-item {
    margin-left: 165px;
    width: 218px;
    height: 275px;
}


.a-text:nth-child(2) {
    font-size: 24px;
    font-weight: 700;
    margin-top: 0px;
    text-align: center;
}

/*Where*/

.where {
    width: inherit;
    height: 705px;
}

.where > h2 {
    margin-top: 50px;
    margin-bottom: 35px;
    margin-left: 138px;
    height: 70px;
    display: inline-flex;
    font-size: 48px;
    font-family: 'Italiana';
    font-weight: 400;
    line-height: 57px;
}


.where h3 {
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
}


.how-cont {
    margin-left: 140px;
    text-align: left;
} 


.when-cont {
    margin-left: 100px;
    margin-right: 110px;
    text-align: center;
}


.where-text {
font-weight: 300;
font-family: 'Inter';
}


.when-text {
    font-weight: 200;
}


.map {
    width: 535px;
    height: 487px;
}


.w-list {
    margin: 0px;
    width: inherit;
    height: 550px;
    display: flex;
    direction: rtl;
    padding: 0px;
    font-size: 24px;
    line-height: 29px;
}

/*Footer*/

footer {
    width: inherit;
    height: 350px;
    background-color: var(--background-color);
}


.f-list {
    display: flex;
    flex-direction: row;
    margin-left: 120px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}


.f-cont {
    display: flex;
    flex-direction: column;
    justify-content: end;
}


footer h2 {
    margin: 0px;
    font-family: Inter;
    font-size: 40px;
    font-weight: 200;
    line-height: 48px;
}


.f-cont p {
    padding-top: 15px;
    padding-left: 12px;
    margin: 0px;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
}


.f-item:nth-child(2) {
    margin-left: 85px;
}


.f-item:nth-child(n+3) {
    margin-left: 140px;
}


.exp {
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    margin: 0px;
}


.script-tag {
    display: flex;
    justify-content: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 100;
    line-height: 24px;
    margin-bottom: 45px;
    margin-top: 136px;
    color: rgba(255, 255, 255, 0.34)
}