:root{
    --primary-text-color:#212121;
    --secondary-text-color: #757575;
    --logo-color: #000;
    --accent-color: #2196F3;
    --background-color: #fff;
    --hero-background-color:#2F303A;
}

// $primaryTextColor:#212121;
// $secondaryTextColor: #757575;
// $logoColor: #000;
// $accentColor: #2196F3;
// $backgroundColor: #fff;
// $heroBackgroundColor:#2F303A;